body {
  background-color: blueviolet;
}

.box {
  background-color: rgb(255, 255, 255);
}
.box1 {
  background-color: rgb(24, 207, 106);
}

.box2 {
  background-color: rgb(255, 255, 255);
}
